<!--
    Copyright (C) 2023 The PixelDust Project
    SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.theme.lockscreen_clock_font.pixel"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="android"
        android:category="android.theme.customization.lockscreen_clock_font"
        android:priority="1"/>

    <application android:label="Pixel Font (GSans-clock)" android:hasCode="false" android:allowBackup="false">
        <meta-data
            android:name="android.theme.customization.REQUIRED_SYSTEM_FONTS"
            android:value="google-sans-clock" />
    </application>
</manifest>
